.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-image: url('./shared/img/star-wars-wallpaper.jpg');
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: flex-start;
  min-height: 100vh;
  opacity: 0.88;
}
